
/*
===============================================================================
Start CSS Reset
===============================================================================
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
===============================================================================
End CSS Reset
===============================================================================
*/
body{
    margin-top: 0px;
    background-color:wheat;
    font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

header,
footer {
    overflow: hidden;
    color: chocolate;
}

header h1{
    font-size: 48px;
    width:fit-content;
    padding: 20px 0 0 0;
    border-top: 4px solid #AC7849;
}

header h2{
    font-size: 24px;    
    padding: 20px 0 20px 0;
    text-align: right;
}
header a {
    float: right;
    display:block;
    color: chocolate;
    text-align: center;
    padding: 14px 16px;
    background-color: wheat;
}

a.active {
    background-color:#AC7849 ;
    color: black;
}

header a:hover {
    background-color:darksalmon;
}

header,footer,article {
    padding-left: 12.5%;
    padding-right: 12.5%;
}

article {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

article h1{
    font-size: 32px;
    color:#AC7849;
    border-bottom: 2px solid #AC7849;
   padding-top: 10px;
   margin-bottom: 20px;


}

article p{

}

.row {
    margin: 8px -16px;
}

.row,
.row > .column{
    padding: 8px;

}

.column {
    float:left;
    width:25%;
}

.row:after {
    content: '';
    display: table;
    clear:both;
}

.content {
    background-color:wheat;
    padding: 10px;
}

footer{
    font-size: 12px;
    padding-top: 40px;
}

footer a {
    float: right;
    text-decoration: none;
    padding: 0 20 0 20px;
}

footer a.active{
    color: wheat;
}

footer a :hover {
    color: black;
}

article h2{
    text-align: center;
    border-bottom: 2px solid black;
   padding-top: 10px;
   margin-bottom: 20px
}

article p{
    font-size: 14px;
}

article h3{
    font-weight: bold;
}

